<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jack.module_login">

    <application>
        <activity android:name=".mvvm.view.SplashActivity"/>
        <activity android:name=".mvvm.view.RegisterActivity"/>
        <activity android:name=".mvvm.view.LoginActivity"/>
    </application>

</manifest>