<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limpoxe.support.library_service_manager">

    <application>

        <provider
            android:exported="false"
            android:authorities="${applicationId}.svcmgr"
            android:name="com.limpoxe.support.library_service_manager.ServiceProvider"/>

    </application>

</manifest>
